.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-variant: all-small-caps;
  position: relative;
  background-color: var(--color-current-dark);
  color: snow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: filter, transform;
  padding: 0.25em 0.875em 0.5em;
  font-weight: bold;
}
.button--large {
  font-size: 2rem;
}
.button--small {
  font-size: 1.25rem;
}
.button:hover {
  filter: brightness(1.1);
}
.button:active {
  filter: brightness(0.95);
  transform: translate(0.0625rem, 0.125rem);
}

.button::before {
  content: "";
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  width: 0.25em;
  height: 0.25em;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 50%;
}
