.home-page-grid {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: max-content minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 2rem;
  padding: 4rem;
  align-items: flex-start;
}
.section-pane {
  backdrop-filter: blur(5px);
  background-color: var(--color-current-light);
  border-radius: 1rem;
  padding: 1rem 1rem 2rem;
  border: 0.25rem solid var(--color-current-dark);
  box-shadow: 0.25rem 0.25rem 0 0.25rem var(--color-current-dark);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
