.input-form {
  gap: 1.5rem;
}
.input-form,
.form-group,
.form-group__label {
  display: flex;
  flex-direction: column;
}
.form-group__label {
  font-size: 1.5rem;
}
.form-group__label input {
  width: 10rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.85);
  transition: background-color 0.25s ease-in-out;
}
.form-group__label input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.form-group__description {
  font-size: 1rem;
}

.form-group__label input:invalid {
  color: crimson;
  text-decoration: underline;
}
